<%- include ('../partials/header') %>

<h1> <%= campground.name %> </h1>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <img class="img-fluid" src="<%= campground.image %> " alt="<%= campground.name %>'s image">
    </div>
</div>
<p> <%= campground.description %> </p>

<p>
    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new ">Add New Comment</a>
</p>

<% campground.comments.forEach((comment)=>{ %>
<p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
</p>
<% }) %>

<%- include ('../partials/footer') %>